.kits{
    height: 100%;
    width: 95%;


    .kits img{
        width: 40%;
    }
    .kits h3{
        font-size: 90%;
    }

    .kits p{
        font-size: $textMd;
        text-align:start;
    }

    .kits ul{
        font-size: $textSm;
    }
}


.kitIndex{
    text-decoration: none;
}