.botonera{
    background-color: $mainColorAlpha;
    img{
        width: 160px;
    }

    li {
        a{
        color:$thirdColor;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat ;
        background-size: 0% 2px;
        transition: background-size .3s;
            &:hover{
                color: $thirdColor;
                background-size: 100% 2px;
            }
        }
    }
}
