$mainColor:rgb(244, 224, 222) ;
$mainColorAlpha:rgba(244, 224, 222, .9);
$secondaryColor:rgb(73, 47, 76) ;
$thirdColor:rgb(99, 79, 96);
$keytColor:rgb(80, 30, 72);
$containerColor:rgb(204,159,167);

$mainFont: 'cinzel', serif;

$textSm: .8em;
$textMd: 1.3em;
$textLg: 1.6em;
$textXl: 2em;
$textXxl:3em;
$textXxxL:4em;

$FontLigth: 200;
$fontBold: 600;
$fontRegular: 400;

