

//imports
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
@import "_vars";
@import "commons";
@import "_mixing";
@import "_kits";
@import "_nav";
@import "_media";

footer {
    background-color: $mainColor ;
        display: flex;
        justify-content: space-between;
        align-items:center;

    svg{

        height: 6vh;
        fill:$secondaryColor;
        margin:10px;
    }
}

.productos{
    div.card-body{
        height: 50vh;
        h2{
            font-size: $textXl;
        }
        p{
            font-size: $textSm;
        }
        a{
            &.btn{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}